@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

html, body {
    background-color: #968b84;
    margin-top: 10px;
}

body .row {
    margin-left: 10px;
}

.navbar .btn {
    margin-top: 5px;
}

.jumbotron {
    background-image: url('../imgs/gK3ZjBu.jpg');
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
    height: 350px;
    width: 250px;
}

.thumbnail img {
    height: 60%;
    width: 95%;
    margin-top: .05em;
}

.thumbnail a {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

h3 {
    text-align: center;
}

.btn {
    background-color: #f09d06;
}

span {
    float: right;
    margin-top: 5px;
}

.shopping-cart {
    display: inline-block;
    background: url('http://cdn1.iconfinder.com/data/icons/jigsoar-icons/24/_cart.png') no-repeat 0 0;
    width: 24px;
    height: 24px;
    margin: 0 10px 0 0;
}

button {
    border: 1px solid #722A1B;
    padding: 4px 14px;
    background-color: #fff;
    color: #722A1B;
    text-transform: uppercase;
    float: right;
    margin: 5px 0;
    font-weight: bold;
    cursor: pointer;
}

.videoContent {
    text-align: center;
    padding: 0;
    line-height: 35px;
}

.twitter {
    text-align: center;
    padding: 0;
    line-height: 35px;
}
