html, body {
    background-color: orange;
}

.jumbotron {
    background-color: green;
}

.container {
    background-color: red;
}

img {
    background-color: yellow;
}

img:hover {
    width: 100%;
    height: 100%;
}
